
block mission_introduction
  h2 Hello world!
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.

block mission_success
  h2 Congratulations!
  p You win buddy!

block mission_failed
  h2 Oh my gosh dude, you did something realy bad
  p You should try again