  

case mission.state

  when "game"        

    //- Question countdown
    if typeof question.duration != "undefined"
      .well-header.question-countdown(data-duration=question.duration)
        //- Display as time (mm:ss)
        .pull-left.right20.time 00:00
        //- Display as progress bar        
        .progress
          .bar 

    .content
      
      //- Additional content above the question
      if typeof question.content != "undefined"
        !=question.content

      //- The question text itself
      h3.top20.question
        .span8.tc     
          =question.label

      //- Current step in the quiz
      .steps
        =mission.getStep() + "/" + mission.questionsNumber

      //- Encrypted solution
      input(type="hidden", name="quiz-solution", value=question.solution)

      //- Answers list
      .answers        
        //- Is theres any answer list ?
        if typeof question.answers != "undefined"            
          - for(q=0; q < question.answers.length;)
            .row-fluid
              .span3.hidden-phone
              //- Builds each line with 2 answers
              - for(d=0; d<2 && q < question.answers.length; d++)
                
                - answer = question.answers[q]                
                - q++;
                .span3
                  label.btn.btn-block.top20
                    input(type="radio", name="quiz-answer", value=answer)
                    =answer

        //- Adds an empty radio button for "no answer"
        input.hide(type="radio", name="quiz-answer", value="", checked)
          

  when "succeed"
      h2 Congratulations!
      p You win buddy!              

  when "failed"
      h2 Oh my gosh dude, you did something realy bad
      p You should try again

